<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=DESKTOP-6LLMSUN\SQLEXPRESS;Database=DrugsStore;User Id=admin;Password=Cloud@14;MultipleActiveResultSets=true"/>
		<add key="DownLoadPath" value="C:\Works\CSV\"/>
		<add key="Encrypt" value="true"/>
	</appSettings>
</configuration>

