<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
    <add key="WindowsAuthentication" value="true"/>
    <add key="ServerName" value="DESKTOP-6LLMSUN\SQLEXPRESS"/>
    <add key="Database" value="DrugsStore"/>
    <add key="UserId" value="pIbvhgmpVHahDBTYUgQvew=="/>
    <add key="Password" value="m490nvfqY98IwaawtYhjiWHABQVWNrAgNLDs2o6FvyM="/>
    <add key="ConnectionString" value="Server=DESKTOP-6LLMSUN\SQLEXPRESS;Database=DrugsStore;Trusted_Connection=True"/>
    <add key="Encrypt" value="true"/>
  </appSettings>
</configuration>

